*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
input{
    width: 60rem;
    margin-bottom: 3rem;
}
body {
    font-family: 'Segoe UI', sans-serif;
    color: #000;
}
.input-search {
    height: 4rem;
    width: 40rem;
    margin-right: 20rem;
}
.input-text{
    font-size:2rem;
}
.input-email {
    height: 5rem;
}

.margin-left{
    margin-left: 12rem;
}
.float-left{
    float: left;
}
.icon-overlay{
    width: 2rem;
    height: 2rem;
    position: relative;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
hr {
    height:.5rem;
    width:55%;
    background-color: #000;
    border:none;
    margin-top:2rem;
    margin-bottom:6rem;
}
nav > hr{
    width: 99%;
    margin-top: -4rem;
    margin-left: 0.5%
}
.banner-img  {
    height: auto;
    width: 100%;
}
.justify-center{
    justify-content: center;
}
.isolate-element{
    margin-right: 6rem;
    margin-left: 6rem;
}
.box-height{
    height: 6rem;
}

p, a  {
    margin-bottom: 3rem;
    font-size: 2em;
}
main img {
    height:50rem;
    width: 50rem;    
}
main {
    margin-left: 10rem;
    margin-right:10rem;
}
h1, h2, h3, h4, button, product, .learn-more-link, .uppercase-letters {
    text-transform: uppercase;
}
h2 {
    font-size: 4rem;
    margin-top: 10rem;
}

/* Add a black background color to the top navigation */
.item-width{
    width: 50rem;
}
.topnav {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* position: fixed; */
    top: 0;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding-right: 6rem;
    text-decoration: none;
    font-size: 2rem;
    color: #000;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color:#BF7631;
    color: white;
} */

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #000;
    color: white;
}

/* classes below */
.float-right{
    float:right;
}
.position-absolute{
    position: absolute;
}
.position-relative{
    position: relative;
}
.text-align-center {
    text-align: center;
}
.box-container {
    width: 6rem;
    height: 4rem;
}
.cart-font{
    font-size: 1rem;
}
.cart-button{
    width: 16rem;
    height: 4rem;
    border-style: none;
    padding: .5rem;
}
.flex-container {
    display: flex;
    align-items: center;
    width: 100%;
    align-self: start;
    object-position: left;
}
.container-4{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: row-reverse;
}
.float-right{
    float: right;
}
.margin-left{
    margin-left: 30rem;
}
.margin-right{
    margin-right: 30rem;
}
.position-absolute{
    position: absolute;
}
.flex-space-between {
    justify-content: space-between;
}
.flex-space-evenly {
    justify-content: space-evenly; 
}

.flex-container-column {
    flex-direction: column;

}
.flex-container-row{
    display: flex;
    flex-direction: row;
}
.flex-2-grid {
    display:grid;
    grid-template-areas:
            "l r";
    justify-content: top;
    justify-items: top;
    align-items: center;
    gap: 2rem;
}
.image-resize{
    height: 50rem;
    width: 50rem;
}
.flex-6-grid {
    display: grid;
    grid-template-areas:
        "l m r"
        "bot-l bot-m bot-r";
    justify-content: top;
    justify-items: top;
    align-items: center;
    gap: 6rem;
}

.about-paragraph {
    display: flex;
    flex-direction: row;
    /* margin-bottom: 50px; */
    align-items: top;
    align-content: center;
}

.outer-image {
    align-self: flex-end;
}

.flex-9-grid {
    display:grid;
    grid-template-areas:
            "l m r"
            "mid-l mid-m mid-r"
            "bot-l bot-m bot-r";
    
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 6rem;
}

.flex-container-outer-1 {
    order: -1;
}
.flex-container-inner-upper {
    order: 0;
}

.flex-container-inner-lower {
    order: 1;
}
.flex-self-end{
    align-self: flex-end;
}
.flex-container-outer-2 {
    order: 99;
}

.product {
    font-size: 3rem;
    font-weight: lighter;
    margin-top: 1rem;
    margin-bottom: -.5rem;
}

.item-image{
    border: .5rem solid black;
}

.flip-horizontally {
    transform: scaleX(-1);
}
.no-border{
    border: none;
}
.container {
    position: relative;
    /* text-align: center; */
    /* color: white; */
}
.overlay-text{
    position: absolute;
    font-size: 4rem;
}
.upper-left {
    top: 14rem;
    left: 8rem;
}

.lower-right {
    bottom: 14rem;
    right: 18rem;
}
.skip-link{
    color: white;

}
.black-background {
    background-color: #000;
}

.orange-background {
    background-color: #BF7631;
}

.orange-text {
    color: #BF7631;
}
.logo-isolation-space{
    margin-left: 6rem;
    margin-right: 6rem;
}
.white-text {
    color: white;
}
.text-size{
    font-size: 
}

.icon-size {
    width: 5rem;
    height: 5rem;
}

.icon-size-smaller {
    width: 4.5rem;
    height: 4.5rem;
    vertical-align: bottom;
}

.bold-font {
    font-weight: bold;
    font-size: 2rem;
}
.text-center {
    text-align: center;
}
.logo-text {
    font-size: 4rem;
}
.input-message {
    height: 20rem;
}

input {
    width: 60rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}

hr {
    height: 0.5rem;
    width: 55%;
    background-color: #000;
    border: none;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

h2 {
    font-size: 3.5rem;
    margin-top: 10rem;
}

.bold-font {
    font-weight: bold;
    font-size: 1.5rem;
}

.item-width {
    width: 30rem;
}

.product {
    font-size: 2rem;
    font-weight: lighter;
    margin-top: 3rem;
}

main img {
    height: 30rem;
    width: 30rem;
}


.about-paragraph {
    width: 80rem;
}


.margin-left {
    margin-left: 5rem;
}

.float-left {
    float: left;
}



.margin-right {
    margin-right:    10rem;
}

.float-right {
    float: right;
}

.upper-left {
    top: 6rem;
    left: 6rem;
}

.overlay-text {
    position: absolute;
    font-size: 3rem;
}

.lower-right {
    bottom: 6rem;
    right: 6rem;
}

hr {
    height:  0.5rem;
    width: 75%;
    background-color: #000;
    border: none;
    margin-top:        1rem;
    margin-bottom:        3rem;
}

.topnav a {
    float: left;
    text-align: center;
    padding-right:  3rem;
    text-decoration: none;
    font-size: 1.25rem;
    color: #000;
}

.margin-left {
    margin-left: 1rem;
}

.topnav {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
        /* position: fixed; */
    top: 0;
    width: 100%;
}

element.style {
     margin-bottom:  5rem;
}

.input-text {
    font-size: 2rem;
}

.input-search {
    height:        3rem;
    width:        21rem;
    margin-right:        10rem;
}