*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

hr {
    color:#000;
}

main {
    font-family: 'Segoe UI', sans-serif;
}
h1, h2, h3, h4, button {
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c32f27;
    position: fixed;
    width: 100%;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #780116;
    font-weight: bold;
}

nav .active {
    background-color: #04AA6D;
}
/* classes below */
.black-background {
    background: color #000;
}
.gray-background {
    background: color #707070;
}
.orange-background, .learn-more-link {
    background: color #BF7631;
}
.white-text{
    color: white;
}
.inverse-icon {
    width:3em;
    height:3em;
}
.price-float{
    float:right;
}
.box-container {
    width:3em;
    height:3em;
}
.flex-container {
    display: flex;
    align-items: left;
    justify-content: space-evenly;
}
.flex-container-inner {
    flex-direction: column;
}

.flex-container-outer-1 {
    order: -1;
}
.flex-container-inner-upper {
    order: 0;
}

.flex-container-inner-lower {
    order: 1;
}

.flex-container-outer-2 {
    order: 99;
}
.image-background-fill-space {
        width: 100%;
        height: 100%;
}
.product {}
.item {}
.item-image{
    border: 1em solid;
}

#contact{ 
}

.flip-horizontally {
    transform: scaleX(-1);
}