*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
input{
    width: 100rem;
    margin-bottom: 3rem;
}
body {
    font-family: 'Segoe UI', sans-serif;
    color: #000;
}
.input-search {
    width:30rem;
}

.input-email {
    height: 4rem;
}
.input-message {
    height: 10rem;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
hr {
    height:.5rem;
    width:55%;
    background-color: #000;
    border:none;
    margin-top:1rem;
    margin-bottom:4rem;
}
nav > hr{
    width: 100%;
}
.banner-img  {
    height: auto;
    width: 100%;
}
p, a  {
    margin-bottom: 3rem;
    font-size: 2em;
}
main img {
    height:50rem;
    width: 50rem;    
}
main {
    margin-left: 10rem;
    margin-right:10rem;
}
h1, h2, h3, h4, button, product, .learn-more-link, .uppercase-letters {
    text-transform: uppercase;
}
h2 {
    font-size: 4rem;
    margin-top: 10rem;
}
/* nav hr {
    width:100%;
} */
/* Add a black background color to the top navigation */
.item-width{
    width: 50rem;
}
.topnav {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* position: fixed; */
    top: 0;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding-right: 6rem;
    text-decoration: none;
    font-size: 2rem;
    color: #000;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color:#BF7631;
    color: white;
} */

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #000;
    color: white;
}

/* classes below */
.float-right{
    float:right;
}
.position-absolute{
    position: absolute;
}
.position-relative{
    position: relative;
}
.text-align-center {
    text-align: center;
}
.box-container {
    width: 6rem;
    height: 4rem;
}
.cart-font{
    font-size: 1rem;
}
.cart-button{
    width: 16rem;
    height: 4rem;
    border-style: none;
    padding: .5rem;
}
.flex-container {
    display: flex;
    align-items: center;

}
.flex-space-between {
    justify-content: space-between;
}
.flex-space-evenly {
    justify-content: space-evenly; 
}
.flex-container-inner, .flex-container-column {
    flex-direction: column;
    width: 700px;
    align-self: start;
    object-position: left;
}
.flex-3-grid {
    display:grid;
    grid-template-areas:
            "l m r";
    justify-content: top;
    justify-items: top;
    align-items: center;
    gap: 6rem;
}
.about-paragraph {
    display: flex;
    flex-direction: row;
    /* margin-bottom: 50px; */
    align-items: top;
    align-content: center;
}

/*lower */
.outer-image {
    align-self: flex-end;
}



.flex-9-grid {
    display:grid;
    grid-template-areas:
            "l m r"
            "mid-l mid-m mid-r"
            "bot-l bot-m bot-r";
    
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 6rem;
}

.flex-container-outer-1 {
    order: -1;
}
.flex-container-inner-upper {
    order: 0;
}

.flex-container-inner-lower {
    order: 1;
}
.flex-self-end{
    align-self: flex-end;
}
.flex-container-outer-2 {
    order: 99;
}

/* .image-background-fill-space {
    width: 100%;
    height: 100%;
} */
.product {
    font-size: 3rem;
    font-weight: lighter;
    margin-top: 1rem;
    margin-bottom: -.5rem;
}
.item {}

.item-image{
    border: .5rem solid black;
}

.flip-horizontally {
    transform: scaleX(-1);
}
.no-border{
    border: none;
}
.container {
    position: relative;
    /* text-align: center; */
    /* color: white; */
}
.overlay-text{
    position: absolute;
    font-size: 4rem;
}
.upper-left {
    top: 14rem;
    left: 8rem;
}

.lower-right {
    bottom: 14rem;
    right: 18rem;
}
.skip-link{
    color: white;

}
.black-background {
    background-color: #000;
}

.gray-background {
    background-color: #707070;
}

.orange-background {
    background-color: #BF7631;
}

.orange-text {
    color: #BF7631;
}

.white-text {
    color: white;
}
.text-size{
    font-size: 
}

.icon-size {
    width: 5rem;
    height: 5rem;
}

.icon-size-smaller {
    width: 4.5rem;
    height: 4.5rem;
    vertical-align: bottom;
}

.bold-font {
    font-weight: bold;
    font-size: 2rem;
}
.text-center {
    text-align: center;
}